<<<<<<< HEAD
body {
  background:  #fde87f ;
  text-align:center;
}
canvas {
  border: 8px solid   #4bd667 ;
}

h1 {
	margin-top: 0;
	font-size: 45px;
	font-family: Cambria;
	font-weight: bold;
}

h1 strong {
	font-size: 1.35em; 
	display: inline-block;
	margin: 0 0.25em; 
=======
body {
  background:  #fde87f ;
  text-align:center;
}
canvas {
  border: 8px solid   #4bd667 ;
}

h1 {
	margin-top: 0;
	font-size: 45px;
	font-family: Cambria;
	font-weight: bold;
}

h1 strong {
	font-size: 1.35em; 
	display: inline-block;
	margin: 0 0.25em; 
>>>>>>> d9dfc652e9e8f0fb2cb1c30165de01da361fd238
}